<div id="leftContent">
    <form action="/contact/send" method="POST" class="contact-form">
        <p>Name</p>
        <input type="text" name="name">
        <p>Email</p>
        <input type="email" name="email">
        <p>Phone</p>
        <input type="text" name="phone">
        <p>Company</p>
        <input type="text" name="company">
        <p>Message</p>
        <textarea name="message" id="" cols="64" rows="7" style="font-family: sans-serif;"></textarea><br>
        <button type="submit" class="send-button">Send</button>
        <div style="clear: both"></div>
    </form>
</div>