<footer>
    <ul>
        <li><i class="fas fa-edit footer-icon"></i>Blog's Title <span>posted on date</span></li>
        <li><i class="fas fa-edit footer-icon"></i>Blog's Title <span>posted on date</span></li>
        <li><i class="fas fa-edit footer-icon"></i>Blog's Title <span>posted on date</span></li>
    </ul>
</footer>