<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e3ab70f25f.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}

    <script>
        $(document).ready(function () {
            $('.nav-link').click(function (e) {
                $(this).addClass('active');
                $(this).parent().siblings().children().removeClass('active');
                localStorage.setItem('status', $(this).text())
            })
        })
    </script>

</body>

</html>