<form action="/signup" method="POST" id="form">
    <h2>Create My Blog Account</h2>
    <p>Username</p>
    <input type="text" placeholder="Username" name="username">
    <p>Password</p>
    <input type="password" placeholder="Password" name="password">
    <p>Email</p>
    <input type="email" placeholder="Your email" name="email">
    <p>Full Name</p>
    <input type="text" placeholder="Your full name" name="fullname"><br>
    <p>Gender</p>
    <select name="sex" id="" class="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br>
    <button type="submit">Sign Up</button>
</form>